<h1 class="text-4xl font-bold text-center m-4">Rick and Morty Angular</h1>
<div class="flex flex-row gap-2 m-4 justify-between">
  @if (page != 1) {
  <button
    class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-700"
    (click)="previousPage()"
  >
    Previous
  </button>
  } @if (page != 42) {
  <button
    class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-700"
    (click)="nextPage()"
  >
    Next
  </button>
  }
</div>

<div class="max-w-7xl m-auto">
  <div class="grid md:grid-cols-4 gap-5 grid-cols-2">
    @for (character of characters; track character.id) {
    <app-characters [character]="character" />
    }
  </div>
</div>
<div class="flex flex-row gap-2 justify-between m-4">
  @if (page != 1) {
  <button
    class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-700"
    (click)="previousPage()"
  >
    Previous
  </button>
  } @if (page != 42) {
  <button
    class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-700"
    (click)="nextPage()"
  >
    Next
  </button>
  }
</div>

<router-outlet></router-outlet>
